@model WebApplicationSewingStudio.ViewModels.SuppliesViewModels.SuppliesVeiwModel

@{
    ViewData["Title"] = "Редактирование поставки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактирование</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Supplies.First().Id" />
            <div class="form-group">
                <label asp-for="Supplies.First().Supplier" class="control-label"></label>
                <input asp-for="Supplies.First().Supplier" class="form-control" />
                <span asp-validation-for="Supplies.First().Supplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplies.First().MaterialId" class="control-label"></label>
                <select asp-for="Supplies.First().MaterialId" class="form-control" asp-items="Model.MaterialsList"></select>
                <span asp-validation-for="Supplies.First().MaterialId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplies.First().Quantity" class="control-label"></label>
                <input asp-for="Supplies.First().Quantity" class="form-control" />
                <span asp-validation-for="Supplies.First().Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplies.First().Price" class="control-label"></label>
                <input asp-for="Supplies.First().Price" class="form-control" />
                <span asp-validation-for="Supplies.First().Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplies.First().Delivery_date" class="control-label"></label>
                <input asp-for="Supplies.First().Delivery_date" class="form-control" />
                <span asp-validation-for="Supplies.First().Delivery_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

