@model WebApplicationSewingStudio.ViewModels.EmployeesViewModels.EmployeesViewModel

@{
    ViewData["Title"] = "Редактирование выполнения заказов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактирование</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employees.First().Id" />
            <div class="form-group">
                <label asp-for="Employees.First().Name" class="control-label"></label>
                <input asp-for="Employees.First().Name" class="form-control" />
                <span asp-validation-for="Employees.First().Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.First().Surname" class="control-label"></label>
                <input asp-for="Employees.First().Surname" class="form-control" />
                <span asp-validation-for="Employees.First().Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.First().Patronymic" class="control-label"></label>
                <input asp-for="Employees.First().Patronymic" class="form-control" />
                <span asp-validation-for="Employees.First().Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.First().OrderId" class="control-label"></label>
                <select asp-for="Employees.First().OrderId" class="form-control" asp-items="Model.OrdersList"></select>
                <span asp-validation-for="Employees.First().OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.First().Execution_start_date" class="control-label"></label>
                <input asp-for="Employees.First().Execution_start_date" class="form-control" />
                <span asp-validation-for="Employees.First().Execution_start_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.First().Date_of_delivery" class="control-label"></label>
                <input asp-for="Employees.First().Date_of_delivery" class="form-control" />
                <span asp-validation-for="Employees.First().Date_of_delivery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться назад</a>
</div>

